version: 2.1

orbs:
  silta: silta/silta@0.1

jobs:

  build:
    executor: silta/silta

    steps:
      - checkout
      - run: |
          # Save key and authenticate.
          printenv GCLOUD_KEY_JSON > "$HOME/gcloud-service-key.json"
          gcloud auth activate-service-account --key-file="$HOME/gcloud-service-key.json" --project "$GCLOUD_PROJECT_NAME"

      - run:
          name: Copy index locally
          command: |
            mkdir -p /tmp/charts
            gsutil -m rsync -d -r gs://charts.wdr.io /tmp/charts

      - run:
          name: Build charts
          command: |
            set -o xtrace

            helm repo add wunderio https://storage.googleapis.com/charts.wdr.io
            helm repo add codecentric https://codecentric.github.io/helm-charts
            helm repo add jetstack https://charts.jetstack.io
            helm repo add elastic https://helm.elastic.co
            helm repo add instana https://agents.instana.io/helm
            helm repo add nfs-subdir-external-provisioner https://kubernetes-sigs.github.io/nfs-subdir-external-provisioner
            # docker-registry
            helm repo add twuni https://helm.twun.io

            for CHARTFILE in `find . -name Chart.yaml`
            do
              CHART=`dirname $CHARTFILE`
              
              helm dependency build $CHART
              helm lint $CHART
              helm unittest $CHART --helm3
              if [ -f "$CHART/test.values.yaml" ]; then
                helm install --dry-run --generate-name --values "$CHART/test.values.yaml" $CHART
              fi
              helm package $CHART --destination /tmp/charts
            done

            helm repo index /tmp/charts --url https://storage.googleapis.com/charts.wdr.io

      - save_cache:
          key: v1-{{ .Revision }}
          paths:
            - /tmp/charts

  deploy:
    executor: silta/silta

    steps:
      - restore_cache:
          key: v1-{{ .Revision }}
      - run: |
          # Save key and authenticate.
          printenv GCLOUD_KEY_JSON > "$HOME/gcloud-service-key.json"
          gcloud auth activate-service-account --key-file="$HOME/gcloud-service-key.json" --project "$GCLOUD_PROJECT_NAME"

      - run:
          name: Deploy to Google Cloud Storage
          command: |
            gsutil -m rsync -d -r /tmp/charts gs://charts.wdr.io
            gsutil setmeta -h "Cache-Control:no-cache,max-age=0" gs://charts.wdr.io/*

workflows:
  version: 2
  commit:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
