apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-drupal
  labels:
    {{- include "drupal.release_labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{- include "drupal.release_labels" . | nindent 6 }}
      deployment: drupal
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "drupal.release_labels" . | nindent 8 }}
        deployment: drupal
    spec:
      initContainers:
      - name: wait-for-db
        {{ include "drupal.php-container" . | nindent 8 }}
        command: ["/bin/sh", "-c"]
        args:
        - {{ include "drupal.wait-for-db-command" . | quote }}
      containers:
      # php-fpm container.
      - name: php
        {{- include "drupal.php-container" . | nindent 8}}
        volumeMounts:
          {{- include "drupal.volumeMounts" . | nindent 10 }}
        livenessProbe:
          tcpSocket:
            port: 9000
        readinessProbe:
          exec:
            command: ['/bin/sh', '-c', 'if [ {{ include "drupal.deployment-in-progress-test" . }} ]; then exit 1; fi']
        resources:
          {{- .Values.php.resources | toYaml | nindent 10 }}

      # Nginx container
      - name: nginx
        image: {{ .Values.nginx.image | quote }}
        resources:
          requests:
            cpu: "50m"
        env:
        ports:
        - containerPort: 80
          name: drupal
        volumeMounts:
        {{- range $index, $mount := $.Values.mounts }}
        - name: drupal-{{ $mount.name }}
          mountPath: {{ $mount.mountPath }}
          readOnly: true
        {{- end }}
        - name: nginx-conf
          mountPath: /etc/nginx/nginx.conf # mount nginx-conf configmap volume to /etc/nginx
          readOnly: true
          subPath: nginx_conf
        - name: nginx-conf
          mountPath: /etc/nginx/conf.d/drupal.conf # mount nginx-conf configmap volume to /etc/nginx
          readOnly: true
          subPath: drupal_conf
        {{- if .Values.nginx.basicauth.enabled }}
        - name: nginx-basicauth
          mountPath: /etc/nginx/.htaccess
          readOnly: true
          subPath: .htaccess
        {{- end }}
        livenessProbe:
          tcpSocket:
            port: 80
        resources:
          {{- .Values.nginx.resources | toYaml | nindent 10 }}

      volumes:
        {{- include "drupal.volumes" . | nindent 8}}
        - name: nginx-conf
          configMap:
            name: {{ .Release.Name }}-nginx-conf
            items:
              - key: nginx_conf
                path: nginx_conf
              - key: drupal_conf
                path: drupal_conf
        {{- if .Values.nginx.basicauth.enabled }}
        - name: nginx-basicauth
          secret:
            secretName: {{ .Release.Name }}-secrets-drupal
            items:
              - key: .htaccess
                path: .htaccess
        {{- end }}
      {{- include "drupal.imagePullSecrets" . | nindent 6 }}
