apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-drupal
  labels:
    {{- include "drupal.release_labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "drupal.release_selector_labels" . | nindent 6 }}
      deployment: drupal
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0%
      maxSurge: 50%
  template:
    metadata:
      labels:
        {{- include "drupal.release_labels" . | nindent 8 }}
        deployment: drupal
        silta-ingress: allow
      annotations:
        # Recreate pods when the configMap or secret changes.
        configMap-checksum: {{ include (print $.Template.BasePath "/drupal-configmap.yaml") . | sha256sum }}
        secrets-checksum: {{ include (print $.Template.BasePath "/drupal-secret.yaml") . | sha256sum }}
    spec:
      enableServiceLinks: false
      containers:
      # php-fpm container.
      - name: php
        {{- include "drupal.php-container" . | nindent 8}}
        volumeMounts:
          {{- include "drupal.volumeMounts" . | nindent 10 }}
          - name: config
            mountPath: /php-fpm-probe.sh
            subPath: php-fpm-probe.sh
        livenessProbe:
          tcpSocket:
            port: 9000
        readinessProbe:
          exec:
            command: ['/bin/bash', '-c', '/php-fpm-probe.sh']
        lifecycle:
          preStop:
            exec:
              command: [ "/bin/sleep", "15" ]
        resources:
          {{- .Values.php.resources | toYaml | nindent 10 }}

      # Nginx container
      - name: nginx
        image: {{ .Values.nginx.image | quote }}
        env:
        - name: RELEASE_NAME
          value: "{{ .Release.Name }}"
        - name: PROJECT_NAME
          value: "{{ .Values.projectName | default .Release.Namespace }}"
        ports:
        - containerPort: 8080
          name: drupal
        volumeMounts:
        {{- range $index, $mount := $.Values.mounts }}
        {{- if eq $mount.enabled true }}
        - name: drupal-{{ $index }}
          mountPath: {{ $mount.mountPath }}
          readOnly: true
        {{- end }}
        {{- end }}
        - name: config
          mountPath: /etc/nginx/nginx.conf
          readOnly: true
          subPath: nginx_conf
        - name: config
          mountPath: /etc/nginx/conf.d/drupal.conf
          readOnly: true
          subPath: drupal_conf
        - name: config
          mountPath: /etc/nginx/fastcgi.conf
          readOnly: true
          subPath: fastcgi_conf
        {{- if .Values.nginx.status_page.enabled }}
        - name: config
          mountPath: /etc/nginx/modules/nginx_status.conf
          readOnly: true
          subPath: nginx_status_conf
        {{- end }}
        {{- if .Values.signalsciences.enabled }}
        - name: config
          mountPath: /etc/nginx/modules/nginx_signalsciences.conf
          readOnly: true
          subPath: nginx_signalsciences_conf
        - name: sigsci-tmp
          mountPath: /sigsci/tmp
        {{- end }}  
        {{- if .Values.nginx.extraConfig }}
        - name: config
          # provide empty configuration file in /etc/nginx/conf.d for users to populate
          mountPath: /etc/nginx/conf.d/misc.conf
          readOnly: true
          subPath: extraConfig
        {{- end }}
        {{- if .Values.nginx.basicauth.enabled }}
        - name: nginx-basicauth
          mountPath: /etc/nginx/.htaccess
          readOnly: true
          subPath: .htaccess
        {{- end }}
        livenessProbe:
          tcpSocket:
            port: 8080
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sleep", "15"]
        resources:
          {{- .Values.nginx.resources | toYaml | nindent 10 }}

      {{- if .Values.signalsciences.enabled }}
      # Signal Services container
      - name: sigsci
        image: {{ .Values.signalsciences.image }}:{{ .Values.signalsciences.imageTag }}
        imagePullPolicy: IfNotPresent
        env:
        - name: SIGSCI_ACCESSKEYID
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-secrets-drupal
              key: signalsciences_accesskeyid
        - name: SIGSCI_SECRETACCESSKEY
          valueFrom:
            secretKeyRef:
              name: {{ .Release.Name }}-secrets-drupal
              key: signalsciences_secretaccesskey
        securityContext:
          readOnlyRootFilesystem: true
        volumeMounts:
        - name: sigsci-tmp
          mountPath: /sigsci/tmp
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sleep", "30"]
        resources:
          {{- .Values.signalsciences.resources | toYaml | nindent 10 }}
      {{- end }}

      volumes:
        {{- include "drupal.volumes" . | nindent 8}}
        {{- if .Values.nginx.basicauth.enabled }}
        - name: nginx-basicauth
          secret:
            secretName: {{ .Release.Name }}-secrets-drupal
            items:
              - key: .htaccess
                path: .htaccess
        {{- end }}
        {{- if .Values.signalsciences.enabled }}
        - name: sigsci-tmp
          emptyDir: {}
        {{- end }}
      {{- include "drupal.imagePullSecrets" . | nindent 6 }}
      nodeSelector:
        {{- .Values.php.nodeSelector | toYaml | nindent 8 }}
      tolerations:
        {{- include "drupal.tolerations" .Values.php.nodeSelector | nindent 8 }}
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          # Preferrably keep pods on the same node as the database.
          - weight: 1
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: release
                  operator: In
                  values:
                  - "{{ .Release.Name }}"
                - key: mariadb
                  operator: In
                  values:
                  - mariadb
              topologyKey: kubernetes.io/hostname
          # Preferrably keep pods in the same zone as the database.
          - weight: 1
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: release
                  operator: In
                  values:
                  - "{{ .Release.Name }}"
                - key: mariadb
                  operator: In
                  values:
                  - mariadb
              topologyKey: topology.kubernetes.io/zone
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 10
            podAffinityTerm:
              topologyKey: kubernetes.io/hostname
              labelSelector:
                matchExpressions:
                - key: release
                  operator: In
                  values:
                  - "{{ .Release.Name }}"
                - key: deployment
                  operator: In
                  values:
                  - drupal
---
{{- if .Values.autoscaling.enabled }}
apiVersion: {{ include "drupal.autoscaling.api-version" . | trim }}
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Release.Name }}-drupal
  labels:
    {{- include "drupal.release_labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Release.Name }}-drupal
  minReplicas: {{ .Values.autoscaling.minReplicas }}
  maxReplicas: {{ .Values.autoscaling.maxReplicas }}
  {{- if .Values.autoscaling.metrics }}
  metrics:
  {{- if eq ( include "drupal.autoscaling.api-version" . | trim ) "autoscaling/v2beta1" }}
  {{- range .Values.autoscaling.metrics }}
  - type: Resource
    resource:
      name: {{ .resource.name }}
      {{- if .resource.targetAverageUtilization }}
      targetAverageUtilization: {{ .resource.targetAverageUtilization }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- if eq ( include "drupal.autoscaling.api-version" . | trim ) "autoscaling/v2" }}
  {{- range .Values.autoscaling.metrics }}
  - type: Resource
    resource:
      name: {{ .resource.name }}
      {{- if .resource.targetAverageUtilization }}
      target:
        type: Utilization
        averageUtilization: {{ .resource.targetAverageUtilization }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
