apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-simple
  labels:
    {{ include "simple.release_labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      {{ include "simple.release_labels" . | indent 6 }}
  template:
    metadata:
      labels:
        {{ include "simple.release_labels" . | indent 8 }}
        silta-ingress: allow
      annotations:
        configMap-checksum: {{ include (print $.Template.BasePath "/configmap.yaml") $ | sha256sum }}
    spec:
      enableServiceLinks: false
      containers:
      # Nginx container
      - name: nginx
        image: {{ .Values.nginx.image | quote }}
        env:
        ports:
        - containerPort: 8080
          name: simple
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/nginx.conf # mount nginx-conf configmap volume to /etc/nginx
          readOnly: true
          subPath: nginx_conf
        - name: nginx-conf
          mountPath: /etc/nginx/conf.d/simple.conf # mount nginx-conf configmap volume to /etc/nginx
          readOnly: true
          subPath: simple_conf
        {{- if .Values.signalsciences.enabled }}
        - name: nginx-conf
          mountPath: /etc/nginx/modules/nginx_signalsciences.conf
          readOnly: true
          subPath: nginx_signalsciences_conf
        - name: sigsci-tmp
          mountPath: /sigsci/tmp
        {{- end }}
        {{- if .Values.nginx.extraConfig }}
        - name: nginx-conf
          # provide empty configuration file in /etc/nginx/conf.d for users to populate
          mountPath: /etc/nginx/conf.d/misc.conf
          readOnly: true
          subPath: extraConfig
        {{- end }}
        {{- if .Values.nginx.basicauth.enabled }}
        - name: nginx-basicauth
          mountPath: /etc/nginx/.htaccess
          readOnly: true
          subPath: .htaccess
        {{- end }}
        livenessProbe:
          tcpSocket:
            port: 8080
        readinessProbe:
          httpGet:
            path: /
            port: 8080
            httpHeaders:
              - name: User-Agent
                value: kube-probe
        lifecycle:
          preStop:
            exec:
              command: ["/bin/sleep", "5"]
        resources:
{{ .Values.nginx.resources | toYaml | indent 10 }}

      {{- if .Values.signalsciences.enabled }}
      # Signal Services container
      - name: sigsci
        image: {{ .Values.signalsciences.image }}:{{ .Values.signalsciences.imageTag }}
        imagePullPolicy: IfNotPresent
        env:
          - name: SIGSCI_ACCESSKEYID
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-secrets-simple
                key: signalsciences_accesskeyid
          - name: SIGSCI_SECRETACCESSKEY
            valueFrom:
              secretKeyRef:
                name: {{ .Release.Name }}-secrets-simple
                key: signalsciences_secretaccesskey
        securityContext:
          readOnlyRootFilesystem: true
        volumeMounts:
          - name: sigsci-tmp
            mountPath: /sigsci/tmp
        lifecycle:
          preStop:
            exec:
              command: [ "/bin/sleep", "30" ]
        resources:
          {{- .Values.signalsciences.resources | toYaml | nindent 10 }}
      {{- end }}

      volumes:
        - name: nginx-conf
          configMap:
            name: {{ .Release.Name }}-nginx-conf
            items:
              - key: nginx_conf
                path: nginx_conf
              - key: simple_conf
                path: simple_conf
              {{- if .Values.signalsciences.enabled }}
              - key: nginx_signalsciences_conf
                path: nginx_signalsciences_conf
              {{- end }}
              {{- if .Values.nginx.extraConfig }}
              - key: extraConfig
                path: extraConfig
              {{- end }}
        {{- if .Values.nginx.basicauth.enabled }}
        - name: nginx-basicauth
          secret:
            secretName: {{ .Release.Name }}-secrets-simple
            items:
              - key: .htaccess
                path: .htaccess
        {{- end }}
        {{- if .Values.signalsciences.enabled }}
        - name: sigsci-tmp
          emptyDir: { }
        {{- end }}
---
{{- if .Values.autoscaling.enabled }}
apiVersion: {{ include "simple.autoscaling.api-version" . | trim }}
kind: HorizontalPodAutoscaler
metadata:
  name: {{ .Release.Name }}-simple
  labels:
    {{- include "simple.release_labels" . | nindent 4 }}
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: {{ .Release.Name }}-simple
  minReplicas: {{ .Values.autoscaling.minReplicas }}
  maxReplicas: {{ .Values.autoscaling.maxReplicas }}
  {{- if .Values.autoscaling.metrics }}
  metrics:
  {{- if eq ( include "simple.autoscaling.api-version" . | trim ) "autoscaling/v2beta1" }}
  {{- range .Values.autoscaling.metrics }}
  - type: Resource
    resource:
      name: {{ .resource.name }}
      {{- if .resource.targetAverageUtilization }}
      targetAverageUtilization: {{ .resource.targetAverageUtilization }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- if eq ( include "simple.autoscaling.api-version" . | trim ) "autoscaling/v2" }}
  {{- range .Values.autoscaling.metrics }}
  - type: Resource
    resource:
      name: {{ .resource.name }}
      {{- if .resource.targetAverageUtilization }}
      target:
        type: Utilization
        averageUtilization: {{ .resource.targetAverageUtilization }}
      {{- end }}
  {{- end }}
  {{- end }}
  {{- end }}
{{- end }}
